@import "../../styles/_common";

#login {
  position: relative;
  box-sizing: border-box;
  min-height: 100vh;
  // background: #F6F7FB;
  background-position: left top;
  background-size: 100% auto;
  max-width: 100vw;
  padding: 0 2.4rem;
  padding-top: 3rem;
  -webkit-touch-callout: none;
  /*系统默认菜单被禁用*/
  -webkit-user-select: none;
  /*webkit浏览器*/
  -khtml-user-select: none;
  /*早期浏览器*/
  -moz-user-select: none;
  /*火狐*/
  -ms-user-select: none;
  /*IE10*/
  user-select: none;
  // 欢迎标语
  .log_head {
    h1 {
      margin: 6rem 0 .5rem 0;
      font-size: 3.6rem;
      color: white;

      span {
        color: #EC4B33;
      }
    }

    p {
      font-size: 1.4rem;
      color: #A1AFC3;
      margin: 0;
    }
  }

  // input样式
  .main-content {
    box-sizing: border-box;
    // padding: 1.6rem 1.6rem 0;
    margin-top: 8rem;

    label {
      position: relative;
      width: 100%;
      display: block;
      margin-bottom: 1.6rem;

      .text-input {
        font-size: 1.4rem;
        font-family: PingFangSC-Semibold, PingFang SC;
        font-weight: 600;
        // color: #F5A623;
        color: white;
        padding-bottom: .5rem;
      }

      .prefix_box {
        position: absolute;
        top: 50%;
        left: 1.3rem;
        height: 1.5rem;
        transform: translateY(-50%);
        font-size: 1.4rem;
        font-family: PingFangSC-Semibold, PingFang SC;
        font-weight: 600;
        color: rgba(255, 255, 255, 1);
        display: flex;
        align-items: center;
        border-right: .1rem solid white;

        // justify-content: space-around;
        // height: 4.4rem;
        // width: 7rem;
        i {
          width: .5rem;
          height: rem;
          background-color: rgba(255, 255, 255, 1);
          font-style: normal;
        }

      }

      .input-box {
        height: 5.4rem;
        position: relative;
        background: #1a202e;
        border-radius: 1rem;
        padding: 0 5.6rem;
        box-sizing: border-box;
      }

      .input-main {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
        height: 2.2rem;
        line-height: 2.2rem;
        outline: none;
        box-sizing: border-box;
        color: #A1AFC3 !important;
        // padding-left: 2rem;
        font-size: 1.4rem;
        max-width: 22rem;
        @include clearButton;
        // background: #0E1828;
        // background: #14233a;
        // border-radius: 2.2rem;
        // padding-right: 5rem;

        // border-bottom: 1px solid $black-border-bottom;
        &:focus {
          // border-bottom: 2px solid $primary-color;
        }

        &::placeholder {
          // color: $black-font-primary;
          // font-weight: 500;
          font-size: 1.4rem;
        }

      }

      // input[type='password'] {
      //   // box-sizing: border-box;
      //   font-size:.8rem;
      //   font-weight: 400;

      // }
      .input_active {
        padding-left: 4rem;
        // padding-left: 6.4rem;
      }

      span {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 1.3rem;
        font-size: 1.2rem;
        font-family: PingFangSC-Semibold, PingFang SC;
        font-weight: 600;
        color: rgba(255, 255, 255, 1);
        // padding-right: 2rem;
      }
      .icon-img{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        width: 1.8rem;
        margin-left: 2rem;
        // height: 1.3rem;
        // padding-bottom: .7rem;
      }
      .eye-img {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
        width: 2.2rem;
        // height: 1.3rem;
        // padding-bottom: .7rem;
        margin-right: 2rem;
      }
    }

    p {
      display: flex;
      justify-content: space-between;
      font-size: $font-assistant + 0.1;
      margin-top: 2.5rem;

      a {
        color: $black-font-primary;
        text-decoration: none;
      }
    }
  }

  // 忘记密码
  .forget {
    text-align: right;
    color: #EC4B33;
    font-size: 1.4rem;
    font-weight: 400;
  }

  // 按钮
  .btn-box {
    margin-top: 5.8rem;
  }

  .to_reg {
    margin-top: 3.8rem;
    font-size: 1.4rem;
    color: #A1AFC3;
    font-weight: 400;
    text-align: center;

    span {
      color: #EC4B33;
    }
  }

  .xieyi {
    margin-top: 10.6rem;
    font-size: 1.4rem;
    color: #A1AFC3;
    font-weight: 400;
    text-align: center;

    span {
      color: #EC4B33;
    }
  }
}
