@import "../../styles/_common";

#BuyCollection {
  position: relative;
  box-sizing: border-box;
  min-height: 100vh;
  padding: 0 1.6rem;
  padding-top: 6rem;
  padding-bottom: 8rem;

  -webkit-touch-callout: none;
  /*系统默认菜单被禁用*/
  -webkit-user-select: none;
  /*webkit浏览器*/
  -khtml-user-select: none;
  /*早期浏览器*/
  -moz-user-select: none;
  /*火狐*/
  -ms-user-select: none;
  /*IE10*/
  user-select: none;



  .cp_card {
    background-color: rgba(26, 32, 46, 1);
    padding: 1.6rem;
    margin-bottom: 1.6rem;
    margin-top: 1.6rem;

    .cp_top_box {
      display: flex;

      .cp_left {
        width: 10.6rem;
        height: 10rem;
        margin-right: 1.6rem;

        .img_box {
          width: 10.6rem;
          height: 10rem;
          // display: flex;
          // align-items: center;
          // justify-content: center;
          position: relative;
          overflow: hidden;

          img {
            width: auto;
            height: auto;
            max-width: 100%;
            max-height: 100%;
            /* 向父元素定位 */
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
        }
      }

      .cp_right {
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        h3 {
          color: rgba(255, 255, 255, 1);
          font-size: 1.4rem;
          font-weight: 500;
          line-height: 2rem;
          margin: 0;
        }

        .cp_tag {
          span {
            font-size: 1.2rem;
            color: rgba(255, 255, 255, .8);
            line-height: 1.7rem;
            margin-right: .5rem;
          }
        }

        .fxf {
          font-size: 1.2rem;
          color: rgba(255, 255, 255, .8);
          line-height: 1.7rem;
          max-width: 22rem;
          word-break: break-all;
          // overflow: hidden;
        }
      }
    }

    p {
      font-weight: 400;
      color: rgba(255, 255, 255, .8);
      font-size: 1.2rem;
      line-height: 1.7rem;
      margin-top: 1rem;
      margin-bottom: 0;
    }

  }

  // 藏品信息
  .cp_info_box {
    font-size: 1.2rem;
    padding: 2rem 0;
    border-bottom: 1px solid #6D778B;
    line-height: 2.8rem;

    .cp_info {
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: #6D778B;

      span:nth-of-type(2) {
        color: white;
        display: flex;
        align-items: center;

        img {
          height: 2rem;
          margin-left: .5rem;
        }
      }
      img{
        height: 8rem;
      }
    }
  }



  // 藏品说明
  .cp_detail_box {
    h3 {
      margin: 1.9rem 0;
      font-size: 1.4rem;
      line-height: 2rem;
      color: white;
    }

    p {
      margin: 0;
      font-size: 1.2rem;
      color: #6D778B;
      line-height: 2.2rem;
    }
  }

  footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 8rem;
    background-color: #1A202E;
    display: flex;
    justify-content: space-around;
    align-items: center;

    span {
      width: 14.7rem;
      height: 3.7rem;
      font-size: 1.4rem;
      border-radius: 5px;
      display: flex;
      justify-content: center;
      align-items: center;

    }

    span:nth-of-type(1) {
      // background-color: white;
      color: white;
      font-size: 2.4rem;
      justify-content: space-between;
    }

    span:nth-of-type(2) {
      background: linear-gradient(135deg, #EE5035 0%, #E32A2A 100%);
      color: white;

    }

  }
// 点击放大
.big_img {
  position: fixed;
  width: 100vw;
  min-height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(1, 1, 1, .9);
  z-index: 99999;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    max-width: 100%;
    height: auto;
  }
}
}

