@import "../../styles/_common";

#CollectionDetail {
  position: relative;
  box-sizing: border-box;
  min-height: 100vh;
  padding: 0 1.6rem;
  padding-top: 6rem;
  padding-bottom: 8rem;

  -webkit-touch-callout: none;
  /*系统默认菜单被禁用*/
  -webkit-user-select: none;
  /*webkit浏览器*/
  -khtml-user-select: none;
  /*早期浏览器*/
  -moz-user-select: none;
  /*火狐*/
  -ms-user-select: none;
  /*IE10*/
  user-select: none;



  // 顶部
  .top_box {
    max-width: 100%;
    height: 15.3rem;
    position: relative;
    padding: 1.6rem 1.6rem;
    // border: 1px dashed white;

    // banner的轮播
    .home_banner {
      height: 100%;
      border-radius: 5px;
      overflow: hidden;

      .swiper-container-card {
        overflow: hidden;
        // box-shadow: 0px 1px 10px 1px rgba(33, 33, 33, 0.5);
        height: 100%;

        .swiper-wrapper {
          .swiper-slide {
            // background-color: white;
            display: flex;
            justify-content: center;

            img {
              // width: 100%;
              max-width: 18rem;
              height: 100%;
              border-radius: 5px;
            }
          }
        }

      }

      .swiper-pagination {
        width: 12rem !important;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .swiper-pagination-bullets {
        bottom: -1rem;
      }

      .swiper-pagination-bullet {
        height: .6rem;
        width: .6rem;
        background: white;
        opacity: .6;
      }

      .swiper-cube-shadow {
        display: none;
      }

      .swiper-pagination-bullet-active {
        background-color: white;
        opacity: 1;
        width: 2.3rem;
        height: .4rem;
        border-radius: .4rem;
      }
    }


  }

  .sm_img_box {
    padding-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: scroll;

    img {
      max-width: 6rem;
      height: 4.5rem;
      margin: 0 1rem;
    }
  }

  h2 {
    text-align: center;
    color: white;
    font-size: 2rem;
    margin: 2rem 0;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    i{
      margin-left: .5rem;
      font-size: 1.2rem;
      // background: linear-gradient(135deg, #EE5035 0%, #E32A2A 100%);
      // padding:.5rem;
      color: #EE5035;
      border-radius: 1rem;
      display: flex;
      align-items: flex-end;
      justify-content: center;
    }
  }
  .chart_box {
    display: flex;
    justify-content: center;

    canvas {
      position: relative;
      width: 100%;

    }
  }
  // 藏品信息
  .cp_info_box {
    font-size: 1.2rem;
    padding: 2rem 0;
    border-bottom: 1px solid #6D778B;
    line-height: 2.8rem;

    .cp_info {
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: #6D778B;

      span:nth-of-type(2) {
        color: white;
      }
    }
  }
.cp_quxian_box{
  h3 {
    margin: 1.9rem 0;
    font-size: 1.4rem;
    line-height: 2rem;
    color: white;
  } 
}
  // 藏品说明
  .cp_detail_box {
    h3 {
      margin: 1.9rem 0;
      font-size: 1.4rem;
      line-height: 2rem;
      color: white;
    }

    p {
      margin: 0;
      font-size: 1.2rem;
      color: #6D778B;
      line-height: 2.2rem;
    }
  }

  footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 8rem;
    background-color: #1A202E;
    display: flex;
    justify-content: space-around;
    align-items: center;

    span {
      width: 14.7rem;
      height: 3.7rem;
      font-size: 1.4rem;
      border-radius: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    span:nth-of-type(1) {
      background-color: white;
      color: #000;
    }

    span:nth-of-type(2) {
      background: linear-gradient(135deg, #EE5035 0%, #E32A2A 100%);
      color: white;
    }

    .jifen_foot {
      background-color: transparent !important;
      color: white !important;
      font-size:2.4rem !important;
      position: relative;
      i{
        font-size: 1.4rem;
        margin-left: 0.5rem;
        transform: translateY(.4rem);
      }

    }
  }

  // 点击放大
  .big_img {
    position: fixed;
    width: 100vw;
    min-height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(1, 1, 1, .9);
    z-index: 99999;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      max-width: 100%;
      height: auto;
    }
  }

}
