@import '../../styles/_common';

#lang-switch {
  @include clearFix;
  position: relative;
  box-sizing: border-box;
  // background: linear-gradient(180deg, rgba(14, 24, 40, 1) 0%, rgba(9, 14, 25, 1) 100%);
  background: #F6F7FB;
  min-height: 100vh;
  padding-top: 6rem;
  -webkit-touch-callout: none;
  /*系统默认菜单被禁用*/
  -webkit-user-select: none;
  /*webkit浏览器*/
  -khtml-user-select: none;
  /*早期浏览器*/
  -moz-user-select: none;
  /*火狐*/
  -ms-user-select: none;
  /*IE10*/
  user-select: none;
  .it_title {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    font-size: 1.6rem;
    font-family: PingFangSC-Semibold, PingFang SC;
    font-weight: 600;
    width: 50%;
    height: 60px;
    line-height: 60px;
    color: #051D3F;
    text-align: center;
  }

  ul {
    @include clearList;
    padding: 1.6rem;

    li {
      padding: 0 1.6rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 6rem;
      // background-color: #A1AFC3;
      border-bottom: 1px solid rgba(151, 151, 151, 0.1);
      margin-bottom: 1rem;
      span {
        font-size: 1.4rem;
        font-family: PingFangSC-Medium, PingFang SC;
        font-weight: 500;
        color: rgba(0, 0,0,1);
      }

      i {
        width: 2rem;
        height: 2rem;
        background: white;
        border-radius: 50%;
        margin-right: .5rem;
        &.active{
          background-color: #EC4B33;
          position: relative;
          .i_center{
            width: 50%;
            height: 50%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50% ,-50%);
            border-radius: 50%;
            background-color: white;
          }
        }
      }
    }
  }


}
